extends layout

block content
  section.page-section
    h2 Menu
    ul.menu-list
      li
        strong Glazed Donut
        span $2.00
      li
        strong Chocolate Donut
        span $2.25
      li
        strong Cinnamon Twist
        span $2.50
      li
        strong Coffee
        span $3.00

